/* GENERAL */
*{
    box-sizing: border-box;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background-image: url('/images/felt-background.jpg'); 
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card{
    height: 25vh;
    position: absolute;
}

.has {
    width: 100px;
}

.current-hand{
    position: absolute;
    right: 55px;
    bottom: -10px;
    color: green;
    font-weight: bold;
    font-size: 50px;
}

.modal-balance{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: red;
    font-size: 21px;
    padding: 8px;
}

/* PLAYERS */
#players{
    flex: 75%;
}
/* ******************************* */
/* NEW CONTROLS */
/* ******************************* */
#bets-and-balance{
    border: 2px solid white;
    display: flex;
    flex: 25%;
    flex-direction: column;
}
#bets{
    border: 2px solid red;
    flex: 40%;
}


/* CHIPS */
.chip{
    position: absolute;
    width: 28%;
    cursor: pointer;
    transition: top 0.45s ease-in-out, left 0.45s ease-in-out;
}
#chip-10{
    left: 10%;
    top: 25%;
}
#chip-25{
    left: 20%;
    top: 40%;
}
#chip-100{
    left: 40%;
    top: 50%;
}
#chip-10.clicked{
    left: 34%;
    top: -50%;
}
#chip-25.clicked{
    left: 36%;
    top: -51%;
}
#chip-100.clicked{
    left: 35%;
    top: -49%;
}

#balance-div{
    flex: 60%;
    border: 2px solid blue;
    position: relative;
}
#balance{
    position: absolute;
    left: 72%;
    bottom: 26%;
    font-size: 2vw;
    font-weight: bold;
}

/* CONTROLS */
.btn{
    color: white;
    border: none;
    font-weight: bold;
    padding: 5px;
    cursor: pointer;
}
#bet-btn{
    background-color: black;
}
#hit-btn{
    background-color: green;
}
#double-btn{
    background-color: orange;
}
#split-btn{
    background-color: blue;
}
#stay-btn{
    background-color: red;
}
.btn-disabled{
    opacity: 0.5; 
    cursor: not-allowed; 
    background-color: #ccc;
    color: #666; 
}


/* COMPUTER */
#computer{
    display: flex;
    justify-content: center;
}
#computer-cards-div{
    width: 50px;
    height: 50px;
    border: 2px solid black;
    position: relative;
    margin-top: 30px;
}



/* HUMAN */
#human{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#human-cards{
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    flex: 80%;
}


.human-cards-div{
    border: 2px solid black;
    width: 50px;
    height: 50px;
    position: relative;
    margin-bottom: 30px;
}

.controls{
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
}


/* WIN, LOSE, PUSH */
.lose {
    color: red;
    font-weight: bold;
}
.win{
    color: green;
    font-weight: bold;
}
.push{
    color: orange;
    font-weight: bold;
}

/* DISABLE ELEMENTS */
.disabled{
    display: none;
}

